Node-red/flows.json
[{"id":"d3cd35f8.570538","type":"tab","label":"环境监测数据转发","disabled":false,"info":""},{"id":"246352a6.fa0c7e","type":"mqtt in","z":"d3cd35f8.570538","name":"MQTT_test","topic":"/My_android","qos":"1","datatype":"json","broker":"5ceae244.cae1ac","x":210,"y":260,"wires":[["a6909397.07409","859243bb.f6cb6","f98b1ed.16d6be","2763a9e.45f1456"]]},{"id":"a689cb9e.4c5d78","type":"mysql","z":"d3cd35f8.570538","mydb":"53dca4cb.7f2b0c","name":"增加数据（数据库）","x":870,"y":260,"wires":[[]]},{"id":"a6909397.07409","type":"function","z":"d3cd35f8.570538","name":"温度","func":"\nvar find =\"INSERT INTO `EnvironmentDB`.`tempTB`(`temp`,`imei`) VALUES ('%s','Android')\";\nvar newMsg = {\n\"topic\": util.format(find, msg.payload.temp)\n}\nmsg.topic = newMsg.topic\nreturn msg;\n\n\n//INSERT INTO `MY_IOT`.`4G_DTU`(`user`, `imei`, `mq_ip`, `mq_port`, `mq_id`, `mq_username`, `mq_password`, `mq_pubtopic`, `mq_subtopic`) VALUES ('hello', '123456', '192.168.3.1', 1884, '234', 'admin', 'admin', 'topic', 'topic')","outputs":1,"noerr":0,"x":470,"y":180,"wires":[["a689cb9e.4c5d78"]]},{"id":"859243bb.f6cb6","type":"function","z":"d3cd35f8.570538","name":"湿度","func":"var find =\"INSERT INTO `EnvironmentDB`.`humTB`(`hum`,`imei`) VALUES ('%s','Android')\";\nvar newMsg = {\n\"topic\": util.format(find, msg.payload.hum)\n}\nmsg.topic = newMsg.topic\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["a689cb9e.4c5d78"]]},{"id":"f98b1ed.16d6be","type":"function","z":"d3cd35f8.570538","name":"CSQ","func":"var find =\"INSERT INTO `EnvironmentDB`.`csqTB`(`CSQ`,`imei`) VALUES ('%s','Android')\";\nvar newMsg = {\n\"topic\": util.format(find, msg.payload.CSQ)\n}\nmsg.topic = newMsg.topic\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":400,"wires":[["a689cb9e.4c5d78"]]},{"id":"2763a9e.45f1456","type":"function","z":"d3cd35f8.570538","name":"GPS","func":"var find =\"INSERT INTO `EnvironmentDB`.`GPS`(`lat`,`lng`,`temp_value`,`ele`) VALUES ('%s','%s','%s','%s')\";\nvar newMsg = {\n\"topic\": util.format(find, msg.payload.lat, msg.payload.lng, msg.payload.temp, msg.payload.ele)\n}\nmsg.topic = newMsg.topic\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":340,"wires":[["a689cb9e.4c5d78"]]},{"id":"5ceae244.cae1ac","type":"mqtt-broker","z":"","name":"HQ","broker":"47.105.70.108","port":"1883","clientid":"MHDSG_nodered","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"53dca4cb.7f2b0c","type":"MySQLdatabase","z":"","host":"47.105.70.108","port":"3306","db":"EnvironmentDB","tz":"500"}]